/*@font-face {
    font-family: 'gremlinsregular';
    src: url('gremlins-webfont.eot');
    src: url('gremlins-webfont.eot?#iefix') format('embedded-opentype'),
         url('gremlins-webfont.woff2') format('woff2'),
         url('gremlins-webfont.woff') format('woff'),
         url('gremlins-webfont.ttf') format('truetype'),
         url('gremlins-webfont.svg#gremlinsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, h1, h2, h3 { font-family: 'gremlinsregular', 'Georgia', sans-serif; }*/
